.vk-login-btn {
    border-radius: 5px;
}

.vk-login-btn:hover {
    box-shadow: 0 0 5px #4E6AA5;
}

.vk-login-btn:active {
    margin-top: 2px;
}

#bo .login_ways a {
    color: #74543B;
}

#bo .login_ways a:hover {
    color: goldenrod;
}

#bo .login_ways a:active {
    color: gold;
}