[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
triogram = "*"
more-itertools = "*"

[dev-packages]
pytest = "*"
black = "*"
pyflakes = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
