{% extends "base.html" %}


{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lobby.css') }}">
{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/lobby_sockets.js') }}"></script>
{% endblock %}


{% block heading %}
  Lobby
{% endblock %}


{% block content %}
  <div class="row">
    <div class="rooms_available col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 align="center">Rooms available:</h3>
        </div>
        <div class="panel-body">
          <ul id="available_rooms_list" class="list-group">
          {% for r in available_rooms %}
            <li id="room_{{ r.room_name }}" class="list-group-item">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  {{ r.room_name }}
                </button>
                <ul class="dropdown-menu">
                  {% if r.quiz_master() != None %}
                    <li class="disabled"><a href="{{ url_for('enter_room', room_name=r.room_name, role='quiz-master') }}">Enter as <strong>Quiz-Master</strong></a></li>
                  {% else %}
                    <li><a href="{{ url_for('enter_room', room_name=r.room_name, role='quiz-master') }}">Enter as <strong>Quiz-Master</strong></a></li>
                  {% endif %}
                  <li><a href="{{ url_for('enter_room', room_name=r.room_name, role='player') }}">Enter as <strong>Player</strong></a></li>
                  <li><a href="{{ url_for('enter_room', room_name=r.room_name, role='spectator') }}">Enter as <strong>Spectator</strong></a></li>
                </ul>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="create_new_room col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 align="center">Create new room:</h4>
        </div>
        <div class="panel-body">
          <form action="" method="post" name="room">
            <div class="form-group">
              {{ form.hidden_tag() }}
              <label>Room name:</label>
              {% for error in form.errors.room_name %}
                <div class="alert alert-dismissable alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{ error }}
                </div>
              {% endfor %}
              {{ form.room_name(class_="form-control", length=32) }}

              <label>Room password:</label>
              {% for error in form.errors.room_password %}
                <div class="alert alert-dismissable alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{ error }}
                </div>
              {% endfor %}
              {{ form.room_password(class_="form-control") }}

              <label>Role:</label>
              {% for error in form.errors.role %}
                <div class="alert alert-dismissable alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{ error }}
                </div>
              {% endfor %}
              {{ form.role(class_="form-control") }}
            </div>
            <input class="btn btn-warning" type="submit" value="Create new room">
          </form>
        </div>
      </div>
    </div>

    <div class="users_in_lobby col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 align="center">Users in lobby:</h4>
        </div>
        <div class="panel-body">
          <ul id="users_in_lobby_list" class="list-group users_list">
          {% for u in users_in_lobby: %}
            {% include 'user.html' %}
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}