{% if request.method == "GET" %}
<div id="pass_login" class="panel panel-default collapse">
{% else %}
<div id="pass_login" class="panel panel-default collapse in">
{% endif %}
  <div class="panel-body">
    <form action="" method="post" name="pass_login">
      <div class="form-group">
        {{ form.hidden_tag() }}
        <label>E-mail:</label>
        {% for error in form.errors.email %}
          <div class="alert alert-dismissable alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ error }}
          </div>
        {% endfor %}
        {{ form.email(class_="form-control", length=35) }}

        <label>Password:</label>
        {% for error in form.errors.password %}
          <div class="alert alert-dismissable alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ error }}
          </div>
        {% endfor %}
        {{ form.password(class_="form-control") }}
      </div>
      <input class="btn btn-warning" type="submit" value="Login">
    </form>
  </div>
</div>