<li class="list-group-item" id="user_{{ u.user_id }}">
    <img class="avatar img-rounded" src="{{ u.avatar }}"/>
    <a href="{{ u.vk_user_page }}">
        <span class="full_name">{{ u.full_name }}</span>
    </a>
    {% with role = u.role() %}
        {% if role == "quiz-master" %}
            <span class="glyphicon glyphicon-star"></span>
        {% elif role == "player" %}
            <span class="glyphicon glyphicon-user"></span>
            <span class="score badge">{{ u.score() }}</span>
        {% elif role == "spectator" %}
            <span class="glyphicon glyphicon-eye-open"></span>
        {% endif %}
    {% endwith %}
</li>